

:root {
   --color-text: #ffffff;
   --color-primary: #576cbc;
   --color-secondary: #060e1d;
    --color-dark: radial-gradient(circle, #ffffff, #f2f2f2, #cfcfcf); 
  
   /* --color-bg: #171616f2; */
   /* body {
      background: radial-gradient(circle, #621e49, #4d0836, #930985); /* Light center fading to gray */
    /* }  */
    /* body {
      background: conic-gradient(#558c91, #21d7e1, #074d59, #196260);
    } */
    
    
    body {
      background: radial-gradient(circle, #0e0e0cda, #191818, #191816); /* Light center fading to gray */
    }
        
       


--font-robot: "Roboto";

}

