

:root {
   --color-text: #ffffff;
   --color-primary: #576cbc;
 
   --color-secondary: #060e1d;
    /* --color-dark: radial-gradient(circle, #ffffff, #f2f2f2, #cfcfcf); */
    --color-dark: radial-gradient(circle, #137ea4, #662626, #163c53);  
  
   /* --color-bg: #171616f2; */
   /* body {
      background: radial-gradient(circle, #621e49, #4d0836, #930985); /* Light center fading to gray */
    /* }  */
    /* body {
      background: conic-gradient(#558c91, #21d7e1, #074d59, #196260);
    } */
    
    
    /* body {
      background: radial-gradient(circle, #051637da, #0f243c, #0b042b); Light center fading to gray
    } */
        
       


--font-robot: "Roboto";

}

