@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.skillsContainer {
  position: relative;
  padding: 20px; /* Space between the border and the skill logos */
  border-radius: 15px; /* Rounded corners for the box */
  background: var(--color-secondary); /* Background color of the box */
  box-shadow: 0 0 20px rgba(12, 114, 209, 0.4), 
              0 0 50px rgba(12, 114, 209, 0.6); /* Initial glow */
  border: 3px solid rgba(17, 115, 181, 0.6); /* Subtle border */
  transition: box-shadow 0.3s ease, border-color 0.3s ease;; /* Smooth animations */
}
/* 
 .skillsContainer:hover {
 

  box-shadow: 0 0 30px rgba(12, 114, 209, 0.8), 
              0 0 60px rgba(12, 114, 209, 0.9); 
  transform: scale(1.02);  
}  
 */



.title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 40px;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
  }
  
  .skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    justify-content: center;
    align-content: flex-start;
    z-index: 1;
  }
  
  .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .skill:hover {
    transform: scale(1.05); /* Slightly scale the skill when hovered */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Add a shadow effect when hovered */
  }
  
  .skillImageContainer {
    background-color: var(--color-secondary);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    transition: transform 0.3s ease; 
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.2); /* Subtle default glow */
  }

   .skill:hover .skillImageContainer {
    transform: scale(1.1); /* Slightly scale the image inside the skill when hovered */
    /* box-shadow: 0 8px 20px rgba(0, 255, 255, 0.6), 0 0 15px rgba(0, 255, 255, 0.4);  */
    /* Brighter glow on hover */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4), 
              0 0 15px 4px rgba(12, 114, 209, 0.6);

              border: 2px solid rgba(17, 115, 181, 0.6);
   } 
  
  .skillImageContainer img {
    width: 75px;
     transition: transform 0.3s ease; 
  } 

   .skill:hover .skillImageContainer img {
    transform: scale(1.1); /* Scale the image when hovered */
   }  

  
  
  .skill p {
    font-size: 25px;
    font-family: var(--font-roboto);
    font-weight: 500;
    transition: color 0.3s ease;
  }

  .skill:hover p {
    color: var(--color-primary); /* Change text color when hovered */
  }

  @media screen and (max-width: 830px) {
    .content {
      flex-direction: column;
      align-items: center;
      gap: 34px;
    }
  
    .skills {
      width: 100%;
      flex-direction: row;
      justify-content: center;
    }
  }