/* Section Container */
.contactSection {
    /* padding: 20px; 
    margin: 0 auto;
    max-width: 1200px; */

    color: var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  /* Title Styling */
  .title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-left: 10px;
  }
  
  /* Contact Form Container */
  .contactContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    position: relative;
  padding: 20px; /* Space between the border and the skill logos */
  border-radius: 15px; 

    background: var(--color-secondary); /* Background color of the box */
    box-shadow: 0 0 20px rgba(12, 114, 209, 0.4), 
                0 0 50px rgba(12, 114, 209, 0.6); /* Initial glow */
    border: 3px solid rgba(17, 115, 181, 0.6); /* Subtle border */
    transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Smooth animations */
  }
  
  /* Form Styling */
  .form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .inputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .label {
    font-size: 14px;
    color: #0c0a0a;
  }
  
  .input,
  .textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .textarea {
    height: 100px;
    resize: none;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  