/* Section Container */
.contactSection {
    /* padding: 20px; 
    margin: 0 auto;
    max-width: 1200px; */

    color: var(--color-text);
    margin-top: 79px;
    margin-left: 9.2%;
    margin-right: 10%;

    padding: 40px 1px;
    max-width: 1500px;
   
  }
  
  /* Title Styling */
  .title {
    color: var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-left: 10px;
  }
  
  /* Contact Form Container */
  .contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* flex-direction: column; */
    gap: 40px;
    flex-wrap: wrap;

    /* position: relative; */
  padding: 20px; /* Space between the border and the skill logos */
  border-radius: 15px; 

    background: var(--color-secondary); /* Background color of the box */
    box-shadow: 0 0 20px rgba(12, 114, 209, 0.4), 
                0 0 50px rgba(12, 114, 209, 0.6); /* Initial glow */
    border: 3px solid rgba(17, 115, 181, 0.6); /* Subtle border */
    transition: box-shadow 0.3s ease, border-color 0.3s ease; /* Smooth animations */
  }

  .contactInfo {
    flex: 1;
    max-width: 800px;
    font-size: 20px;
  }

  .infoItem {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  .icon {
    font-size: 20px;
    color: #00aced;
  }
  
  /* Form Styling */
  .form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .contactForm {
    flex: 1; /* Take up equal space */
    max-width: 45%; /* Restrict width */
  }

  .input,
.textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  background: #f2eeee;
  color: #fff;
 
}

  
  
 
  
  .textarea {
    height: 90px;
    resize: none;
  }

  .socialIcons {
    display: flex;
    gap: 15px;
    height: 50px;
    width: 50px;
  }
  

  .socialIcon {
    font-size: 24px;
    color: #fff; /* Default color */
    transition: color 0.3s;
    background-color: #0d69ba;
    border-radius: 50%;
    height: 30px;
    width: 30px;

  }
  
  .socialIcon:hover {
    color: #1da1f2; /* Change color on hover */
  }
  
  
  .button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  